<div class='top_nav'>
  <p><a class="links_class" href="/students/<%=params[:id]%>">Show</a> | <%= link_to "Index", {:action => 'index' }%></p>
</div>


<div class='main_content'>

<%= render 'form_student_edit' %>

</div>


